---
- hosts: all
  become: yes
  gather_facts: yes
  vars:
    wkhtmltopdf_installation: package
    wkhtmltopdf_version: 0.12.4
    mysql_root_password: dev
  roles:
    - geerlingguy.nodejs
    - ansiblebit.oracle-java
    - ansiblebit.wkhtmltopdf
  tasks:
    - name: Upgrade and update packages
      apt: "upgrade=yes update_cache=yes"

    - apt: "name={{ item }} state=installed"
      with_items:
        - git
        - wget
        - curl
        - vim
        - libfreetype6-dev
        - imagemagick
        - pdftk
        - libxml2-dev
        - libxslt-dev
        - libcurl4-openssl-dev
        - iptables-persistent
        - firefox
        - xvfb
        - unzip
        - python-pip
        - libssl-dev
        - python-dev
        - python-virtualenv
        - screen
        - libjpeg-dev
        - libmysql++-dev
        - virtualbox-guest-utils
        - python-mysqldb
        - mysql-server
        - nginx
        - xfonts-75dpi

    - name: Add Google Chrome key
      shell: wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -

    - name: Add Google Chrome repo
      copy: content="deb http://dl.google.com/linux/chrome/deb/ stable main" dest=/etc/apt/sources.list.d/google-chrome.list owner=root group=root mode=644

    - name: Update apt cache
      apt: update_cache=yes
    
    - name: Install Google Chrome
      apt: pkg=google-chrome-stable state=installed

    - name: Install packages based on requirements.txt.
      pip: 
        requirements: /home/vagrant/requirements.txt
        virtualenv: /opt/virtualenv
        virtualenv_python: python2.7
    - name: Install packages based on package.json.
      npm:
        path: /home/vagrant
    - name: Start the MySQL service
      sudo: yes
      service: 
        name: mysql 
        state: started
        enabled: true
    - name: update mysql root password for all root accounts
      sudo: yes
      mysql_user: 
        name: root 
        host: "{{ item }}" 
        password: "{{ mysql_root_password }}"
        login_user: root
        login_password: "{{ mysql_root_password }}"
        check_implicit_admin: yes
        priv: "*.*:ALL,GRANT"
      with_items:
        - 127.0.0.1
        - ::1
        - localhost
